p { 
    color: #640000; 
    background-color:#640000;
    border-color: #640050;
}

h1 {
    color:#640050;
    background-color:#640050;
    border-color:#640050;
}

header {
    color:#640050;
    background-color:#640050;
    border-color:#640050;
}

h1 {
    color:#640050;
    background-color:#640050;
    border-color:#640050;
}

button {
    color:#640050;
    background-color:#640050;
    border-color:#640050;
}

footer {
    color:#640050;
    background-color:#640050;
    border-color:#640050;
}